# ------------------------------
# Dependencies
# ------------------------------
node_modules/


# ------------------------------
# Build / Output
# ------------------------------
dist/
build/
.next/
out/
coverage/
.nyc_output/
*.tsbuildinfo

# ------------------------------
# Runtime / Logs
# ------------------------------
logs/

# ------------------------------
# Environment files
# ------------------------------
.env
.env.local
.env.*.local

# ------------------------------
# Temporary files
# ------------------------------
tmp/
temp/
*.tmp
*.swp
*.swo

# ------------------------------
# Editor / IDE
# ------------------------------
.idea/

# ------------------------------
# OS files
# ------------------------------
.DS_Store
Thumbs.db
